

.containerb {
  width: 438px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  margin-left: 5px;
  top: 48%;
}

.fst_bar {
  width: 40px;
  height: 30px;
  background: gray;
  position: relative;
  right: 0px;
  top:-20;
}
.fst_bar::after {
  content: "";
  height: 30px;
  width: 411px;
  background: gray;
  position: absolute;
  right: -383px;
  z-index: -1;
}
.fst_bar::before {
  content: "";
  height: 51px;
  width: 25px;
  background: gray;
  position: absolute;
  right: -3px;
  top:-10px;
  z-index: 92;
}
.bar {
  width: 5%;
  height: 30px;
  background: gray;
  position: relative;
  right: 0px;

}
.bar::before {
  content: "";
  height: 30px;
  width: 100%;
  background: grey;
  position: absolute;
  top: 0;
  right: -10px;
}
.bar::after {
  content: "";
  height: 60px;
  width: 45px;
  background: silver;
  position: absolute;
  top: -15px;
  right: -5%;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
}
.barkey {
  content: "";
  height: 18px;
  width: 18px;
  background: silver;
  position: relative;
  top: -9px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  right: -1%;
  z-index: 22;
  -o-transform: rotate(34deg);
  -ms-transform: rotate(34deg);
  -moz-transform: rotate(34deg);
  -webkit-transform: rotate(34deg);
  transform: rotate(34deg);
  opacity: 0.5;
}
.bolt {
  content: "";
  height: 14px;
  width: 64px;
  background: silver;
  position: relative;
  top: -9px;
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 50%;
  right: -9%;
  z-index: 20;
  -o-transform: rotate(-34deg);
  -ms-transform: rotate(-34deg);
  -moz-transform: rotate(-34deg);
  -webkit-transform: rotate(-34deg);
  transform: rotate(-34deg);  
}
.brdsk {
  height: 445px;
  width: 55%;
  background: red;
  z-index: 8;
  border-radius: 8px;
  margin: 0 3px;
}
.bbdsk {
  height: 445px;
  width: 45%;
  background: blue;
  z-index: 7;
  border-radius: 9px;
  margin: 0 3px;
}
.bydsk {
  height: 445px;
  width: 35%;
  background: yellow;
  z-index: 6;
  border-radius: 10px;
  margin: 0 3px;
}
.bgdsk {
  height: 445px;
  width: 30%;
  background: green;
  z-index: 9;
  border-radius: 10px;
  margin: 0 3px;
}
.swdsk {
  height: 230px;
  width: 20%;
  background: white;
  z-index: 14;
  border-radius: 10px;
  margin: 0 3px;
}
.srdsk {
  height: 200px;
  width: 20%;
  background: red;
  z-index: 19;
  border-radius: 5px;
  margin: 0 3px;
}
.sbdsk {
  height: 160px;
  width: 20%;
  background: blue;
  z-index: 13;
  border-radius: 8px;
  margin: 0 3px;
}
.sydsk {
  height: 160px;
  width: 19%;
  background: yellow;
  z-index: 23;
  border-radius: 8px;
  margin: 0 3px;
}
.sgdsk {
  height: 135px;
  width: 15%;
  background: green;
  z-index: 17;
  border-radius: 8px;
  margin: 0 3px;
}
.sldsk {
  height: 128px;
  width: 13%;
  background: white;
  z-index: 12;
  border-radius: 8px;
  margin: 0 3px;
}
.bDisk {
  height: 260px;
  width: 100%;
  background: blue;
  z-index: 1;
  border-radius: 5px;
  margin: 0 3px;
}
.sDisk {
  height: 180px;
  width: 50%;
  background: green;
  z-index: 4;
  border-radius: 5px;
  margin: 0 3px;
}
.emptiness {
  height: 432px;
  width: 100%;
  background-color: rgba(0, 1, 0, 0.0);
  z-index: 80;
  border-radius: 18px;
  margin: 20 30px;
}
.plate {
  height: 260px;
  width: 40px;
  background: blue;
  z-index: 2;
  border-radius: 5px;
  margin: 0 3px;
}
.setsex {
  width: 123px;
  height: 69px;
  z-index: 222;
  margin-left: 22px;
  margin-top: -88px;
  color: #fff;
  background-color: #7d5ac4;
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
  border-radius: 5px;
}
.bm_weightTxtlbl {
  width: 123px;
  height: 69px;
  margin-left: 110%;
  vertical-align:middle;
  text-align: center;
  margin-top: -68px;
  color: #ff0000;
  background-color: #bebebe;
  border-style: dotted;
  border-width: 2px;
  border-color: #ffff;
  border-radius: 9px;
  font-weight: bolder;
  font-size: 48px; 
}
.bm_weightTxtlbladd {
  color: #fff;
  margin-top: -68px;
  margin-left: 159px;
  width: 28px;
  font-weight: bolder;
  font-size: 19px; 
}