/* #mainz, #mainbody {
        background:radial-gradient(black 15%, transparent 16%) 0 0,radial-gradient(black 35%, transparent 16%) 8px 8px,radial-gradient(rgba(189,185,188,.1) 15%, transparent 20%) 0 1px,radial-gradient(rgba(189,185,188,.1)55%, transparent 30%) 9px 12px;
background-color:#fffffb;
background-size:8px 7px; z-index: 54; } */

html, body{
  overflow:hidden; 
  height: 100%;
  background: url(../img/bg/f5double-bg.jpg) no-repeat center center fixed; 
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-color: #999;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bg/f5double-bg.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}
/*
#CF6052;#146B1E;#00cc00;#00f5a6;#f0c599;##3D6FB6;#1177db
#mainz {
background: 
linear-gradient(63deg, #999 23%, transparent 23%) 7px 0, 
linear-gradient(63deg, transparent 74%, #999 78%), 
linear-gradient(63deg, transparent 34%, #999 38%, #999 58%, transparent 62%), 
#444;
background-size: 16px 48px; }
*/ 
a {
  /* color:#3D6FB6; */
   color:#838a87;   
  text-decoration: none;
  cursor: pointer;
}
a:link {
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;
  color:#ff0000;
  text-decoration: none;
  font-weight: bold;
 }
a:hover {
 color: #fffffb;
 }
a:visited {
    -moz-transition: color 0.2s 0.02s ease;
    -o-transition: color 0.2s 0.02s ease;
    -webkit-transition: color 0.2s 0.02s ease;
    text-decoration: none;
    color: #838a87;
    font-weight: bold;
 }
 .s5f a {
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;
  color:#3D6FB6;
  background-color: #3D6FB6;
  text-decoration: none;
  font-weight: bold;
 }
  .s5f a:visited {
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;
  color:#3D6FB6;
  background-color: #3D6FB6;
  text-decoration: none;
  font-weight: bold;
 }
.s1 a {
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;
  color:#222;
  font-weight: bold;
  text-decoration: none;
 }
 .s1 a:link {
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;
  color:#fffffb;
  font-weight: bold;
  text-decoration: none;
 }

 .s1 a:visited {
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;
  color:#000;
  text-decoration: none;
  font-weight: bold;
 }
 
.s1 a:hover {
  color: #ff0000;
  text-decoration: none;
 }
 
.s2 a {
 -moz-transition: color 0.2s 0.02s ease;
 -o-transition: color 0.2s 0.02s ease;
 -webkit-transition: color 0.2s 0.02s ease;
 color:#4e4e4e;
 cursor: ne-resize;
 }
.s2 a:link {
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;
  color:#4e4e4e;
  text-decoration: none;
  font-weight: bold;
  cursor: ne-resize;
 }
.s2 a:hover {
 color: #55b857;
 cursor: ne-resize;
 }
  .s2 a:visited {
  -moz-transition: color 0.2s 0.02s ease;
  -o-transition: color 0.2s 0.02s ease;
  -webkit-transition: color 0.2s 0.02s ease;
  color:#4e4e4e;
  text-decoration: none;
  font-weight: bold;
  cursor: ne-resize;
 }

      
section {
        position: absolute;
        margin-top: 33px;
        background: #838a87;
        border-radius: 2em;
        border:2px solid #ffffff;
        box-shadow: 0 0 1px gray;
        cursor: pointer;
        padding: 1em;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        z-index: 200;
        opacity: 0.3;
        transform: translate(-50%, -30%); 
        }
.addAthlettehModalheader {
  margin-top: -17px;
  padding: 0.2em;
  background-color: #18B000;
  color: #fffffb;
  cursor: cell;
  z-index: 142;
  left: 50%;
  opacity: 0.91; 
  width: 91%;
  border-radius:7px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  
  background-position: center;
  background-repeat: no-repeat;
}      
/*
.addAthlettehModalheader:hover {
  color: #fffffb;
  font-weight: bolder;
  text-decoration: none;
}  
*/
.delAthlettehModalheader {
  margin-top: -17px;
  padding: 0.2em;
  background-color: #ff0000;
  color: #fffffb;
  cursor: cell;
  z-index: 123;
  left: 50%;
  opacity: 0.91; 
  width: 91%;
  border-radius:7px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  background-image: url("../img/barbell-mini-bw.png");
  background-position: center;
  background-repeat: no-repeat;
}      
.delAthlettehModalheader:hover {
  color: #e4e4e4;

  text-decoration: none;
}
.chAthlettehModalheader {
  padding: 0.3em;
  background-color: #18B000;
  color: white;
  cursor: cell;
  z-index: 142;
  top: 24%;
  left: 50%;
  opacity: 0.78; 
  border-radius:7px;
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
}      
.chAthlettehModalheader:hover {
  color: #e4e4e4;
  font-weight: bolder;
  text-decoration: none;
}


.deleteAthletteh1 {
          padding: 0.3em;
          background-color: #aF220f;
          color: white;
          cursor: pointer;
          z-index: 142;
          top: 24%;
          left: 50%;
          opacity: 0.78; 
          border-radius:7px;
          -moz-border-radius:7px;
          -webkit-border-radius:7px;
}  
.totalAthlete {
          padding: 0.3em;
          margin-left: 50%;
          background-color: #aF220f;
          color: #e4e4e4;
          z-index: 745;
          text-align: left;
          opacity: 0.78; 
          font-size: 27px;
          border-radius:7px;
          -moz-border-radius:7px;
          -webkit-border-radius:7px;
          text-decoration: none;
}  
.totalAthlete:hover {
  color: #e4e4e4;
  font-size: 27px;
  text-decoration: none;

}   
.hvr-buzz {
          display: inline-block;
          padding: 0.5em;
          background-color: #582A72;
          text-decoration: none;
          font-size: 16px;
          color: white;
          cursor: wait;
          display: inline-block;
          vertical-align: middle;
          -webkit-filter: contrast(148%); 

}
.wjumbotron {
  background-color: #f5f5f5;
}
.wjumbotron:hover {
  background-color: #f5f5f5;
}
.wrap2logo img {
  background-color: #f5f5f5;
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.wrap2logo img:hover {
  background-color: #f5f5f5;
            border-radius: 10%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
          -webkit-filter: contrast(148%);  


}
.bolders {
    font-weight: bolder;
  }
  .btn-success {
    text-align: left;
  
  }
.rulzzbtn {
        position: absolute;
        cursor: pointer;
        z-index: 122;
        top: 70px;
        left: 50%;
        margin-right: -50%;
        opacity: 0.98;
        transform: translate(-50%, -93%) 
}

.rulzzbtnDouble {
        position: absolute;
        cursor: pointer;
        z-index: 132;
        top: 12%;
        left: 50%;
        margin-right: -50%;
        opacity: 0.88;
        transform: translate(-50%, -93%) 

}
.rulzzbtnB {
        position: absolute;
        cursor: pointer;
        z-index: 130;
        top: 24%;
        color: #fff;
        background-color: #CF6052;
        left: 50%;
        opacity: 0.88;
        margin-right: -50%;
        opacity: 1.0;
        transform: translate(-50%, -93%) 

}

#svlogo {
        z-index: 451;
        opacity: 0.7;
        transform: translate(-50%, -30%) 

}
.ModalbuttonSave {
    display: inline-block;
    padding: 0.4em;
    background-color: #00cc00;
    text-decoration: none;
    color: #fffffb;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}
.ModalbuttonSave:hover {
  color: #fffffb;
  font-size: 15px;
  text-decoration: none;
}

.ModalbuttonClose {
    display: inline-block;
    padding: 0.6em;
    background-color: #65746d;
    color: #fffffb;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
}
.buttonstart {
    display: inline-block;
    padding: 1em;
    margin-top: 170%;
    background-color: #146B1E;
    font-size: 22px;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.buttonstart:hover {
  background-color: #18B000;
  color: #fffffb;
  font-size: 22px;
  text-decoration: none;

}

  .buttonstop {
     position: absolute;
        cursor: pointer;
        z-index: 135;
        top: 24%;
    display: inline-block;
    padding: 1em;
    background-color: #CF6052;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.mngmtStart {
    display: inline-block;
    padding: 0.5em;
    background-color: #18B000;
    font-size: 18px;
    text-decoration: none;
    color: #fffffb;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    -webkit-filter: contrast(148%); 
    }
.mngmtStart:hover {
  color: #fffffb;
  font-size: 20px;
  text-decoration: none;
  -webkit-filter: contrast(148%); 
    }
.mngmtStop {
    display: inline-block;
    padding: 0.5em;
    background-color: #ff0000;
    font-size: 18px;
    text-decoration: none;
    color: white;
    cursor: pointer;    
    display: inline-block;
    vertical-align: middle;
    }
.mngmtStop:hover {
  color: #e4e4e4;
  font-size: 20px;
  text-decoration: none;
    }
.mngmtX {
    display: inline-block;
    padding: 0.7em;
    background-color: #d12100;
    font-size: 14px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: bolder;
    display: inline-block;
    vertical-align: middle;
    }
.mngmtX:hover {
  color: #e4e4e4;
  font-size: 15px;
  text-decoration: none;
    }    
.buttonaddathlette {
    display: inline-block;
    padding: 0.5em;
    background-color: #00f5a6;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    cursor: cell;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.buttonaddathlette:hover {
      font-size: 15px;
      text-decoration: none;
  }
.buttonjvote {
    display: inline-block;
    padding: 1em;
    cursor: crosshair;
    background-color: #b4b4b4;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border: 1px dotted #582A72;
    border-collapse: collapse;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.buttonreboot {
    display: inline-block;
    padding: 1em;
    background-color: #f0c599;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.buttontimedouble {
  padding: 1.7em;
    font-size: 22px;
    text-decoration: none;
    color: white;
}

table {
  cursor: pointer;
  overflow: hidden;
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 0px;
  width: 100%;
  margin-top:21px;
  z-index: 98;
}
.tblwrapper {
margin: 3px 30px 100px 30px;
}

table caption {
  font-size: 1.0em;
  margin: .05em 0 .15em;
}

table tr {
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: .15em;
}

table th, table td {
  padding: .15em;
  text-align: center;
}

table th {
  font-size: .75em;
  letter-spacing: .02em;
  text-transform: uppercase;
}

tr:hover:not(.colheader) {
  -webkit-box-shadow:0px 0px 15px 7px #1177db inset;
  -moz-box-shadow:0px 0px 15px 7px #1177db inset;
  box-shadow:0px 0px 15px 7px #1177db inset;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  cursor: default;
  /* border-width:3px;
  border-style:solid;
  border-color:#18B000; */
}

th:hover {
  background-color: #999 transparent;
}
td, th {
  cursor: pointer;
  border-top: 1px solid #999;
  border-right: 1px dotted #999;
  padding: 0.4rem;
}

.selectednowtcico {
        color: #fffffb;
        border-left: 8px solid #ff0000;
        width: 48px;
        height: 41px;
        background-image: url("../img/tablo-main-seled.png");
        background-position: center;
        background-repeat: no-repeat;
}
.selected {
    color: #fefefe;
    background-color: #40826d;
    /* background-color: #18B000;
     #0fa 
      #7EFF66
      #18B000
      #71F15D
      #4AEF30
    */
}
.tryisok {
    background-color: #39ff14;
    color: #000;
    border: 2px dotted #fff;
}
.tryisbad {
    background-color: #e23131;
    color: #fffffb;
    border: 2px dotted #fff;
}
.tryiscancerdd {
    background-color: #555555;
    color: #ebebeb;
    /* text-decoration-line: line-through; */
    border: 1px dotted #000555;
}
.idtv {
        color: #ffffff;
        width: 48px;
        height: 35px;
        background-image: url("../img/tablo-main-def.png");
        background-position: center;
        background-repeat: no-repeat;
}
.counter_td {
        color: #30220f;
        height: 27px;
        background-position: center;
        background-repeat: no-repeat;
}
.mxgMainBox {
  padding: 0.325em;
  background-color: #cccccb;
  color: #3D6FB6; 

  text-align: center;
}
.mxgMainBox:hover {
  padding: 0.425em;
  background-color: #e0e0e0;
  color: #3D66bb; 
  font-weight: bolder;
  text-align: center;
  text-decoration: none;
}
.selectedfinished {
    background-color: #3D6FB6;
    opacity: 0.9;
    /* #0fa 
      #71F15D
      #4AEF30
    */
}
.selected2blnext {
  margin: auto;
  margin-bottom: 7px;
  margin-top: 7px;
  opacity: 0.89;
  padding-top: 2px;
  width: 88%;
  border:1px solid #fffffb;
  text-align: left;
  vertical-align: middle;  
  background-color: #3D6FB6;
  color: #000;
  font-size: 10px;
  height: 38px;
  box-shadow : rgba(89,102,107,0.8) 9px 5px 10px 12px;
  -webkit-box-shadow: 5px 5px 18px 12px rgba(155,155,155,0.8);
}
.selected2bl {
  margin: auto;
  margin-bottom: 7px;
  margin-top: 7px;
  opacity: 0.89;
  padding-top: 2px;
  width: 88%;
  border:1px solid #fffffb;
  text-align: left;
  vertical-align: middle;  
  color: #000;
  font-size: 10px;
  height: 38px;
  background-color : #18ab29;
  box-shadow : rgba(89,102,107,0.8) 9px 5px 10px 12px;
  -webkit-box-shadow: 5px 5px 18px 12px rgba(155,155,155,0.8);
}
.text-successf5 {
      color: #ffffff;
      background-color: #3D6FB6;
      padding: 0.325em;
      text-align: center;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      -webkit-filter: blur(0.7px);
}
.text-successf5:hover {
      color: #ffffff;
      background-color: #3D6FB6;
      padding: 0.325em;
      text-align: center;
      border-radius:3px;
      -moz-border-radius:3px;
      -webkit-border-radius:3px;
      -webkit-filter: blur(0.1px);
       -webkit-filter: sepia(100%);
}

table td img { text-align: center; }
@media screen and (max-width: 600px) {

table { border: 0; }

table caption { font-size: 1.3em; }

table thead { display: none; }

table tr {
  border-bottom: 3px solid #ddd;
  display: block;
  margin-bottom: .625em;
}

table td {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: .8em;
  text-align: right;
}

table td:before {
  content: attr(data-label);
  float: left;
  font-weight: bold;
  text-transform: uppercase;
}

table td:last-child { border-bottom: 0; }
}

.container
{
        opacity: 1;
        margin-top: -2%;
        width: 100%;
        z-index: -121;
}
.left-div
{
  display: inline-block;
  height: 180px;
  background-color: #fff;
  border-radius: 3px;
  vertical-align: top;
  margin: 15px;
  color:#000;
  opacity:1; 
  text-decoration:none;

}
.left-div:hover {
        border-radius: 13%;
        border:3px solid #00ff00;
        box-shadow: 0 0 2px gray;
        cursor: pointer;
}
.right-div
{
  display: inline-block;
  height: 180px;
  background-color: #ff0000;
  border-radius: 3px;
  margin: 15px;
  color:#000;
  opacity: 1;
}
.right-div:hover {
        border-radius: 13%;
        border:3px solid #00ff00;
        box-shadow: 0 0 1px gray;
        cursor: pointer;
}

.blink{
    -webkit-animation: blink 700ms infinite alternate;
    -moz-animation: blink 700ms infinite alternate;
    -o-animation: blink 700ms infinite alternate;
    animation: blink 700ms infinite alternate;
}
#jname {
font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    color: #06B653;
    text-transform: uppercase;
    white-space: nowrap; /* Запрещаем перенос строк */
    font-size: 28px;
    
}
#jname2 {
font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    color: #06B600;
    text-transform: uppercase;    
    white-space: nowrap; /* Запрещаем перенос строк */
    font-size: 18px;
    
}
.navbar,.navbar-nav,.navbar-default {
      background-color: #ebebeb;  
             color: #ffffff;
}
.container-fluid {
      background-color: #ebebeb;
        color: #ffffff;
}
@-webkit-keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
}
@-o-keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
}
@-moz-keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
}
@keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
};
#outspace {
  visibility: hidden;
  display:none;
  margin: 150px;
  position:absolute; top:40px; left:470px;
}
.outspacethe
{
  visibility: hidden;
  display:none;
  margin: 150px;
  position:absolute; top:40px; left:470px;
}
/*Use a media query to add a break point at 800px:*/
@media (max-width:800px) {
  .left, .main, .right {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
  }
}

    @keyframes colorchange
    {
      0%   {background: red;}
      25%  {background: gray;}
      50%  {background: white;}
      100% {background: green;}    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      25%  {background: gray;}
      50%  {background: white;}
      100% {background: green;}
    }


/* ///////////////////////////////////// */

/* The Modal (background) */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #cffdff;
    margin: 7% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 2px solid #71F15D;
    width: 88%; /* Could be more or less, depending on screen size */
}

.close {
    margin-top: -17px;
    margin-right: -18px;
    display: inline-block;
    padding: 0.1em;
    background-color: #FF6347;
    color: #65746d;
    text-align: center; 
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 26;
}


    .blurBg {
    z-index: 99; /* изображение размыто */
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    filter: blur(2px);
    }
    .blurBg2 {
    z-index: 94; /* изображение размыто */
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
    }

.blink_me {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    text-align: center;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.hint {
  position: absolute;
  display: none;
  top: -50px;
  left: 0;
  right: 0;
  padding: 10px;
  background-color: #ff0000;
  animation: hint-anim-hide 0.5s;
  animation-fill-mode: forwards;
}

.hint__active {
  display: block;
}

.hint__show {
  display: block;
  top: 0;
  animation: hint-anim-show 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hint-anim-show {
  0% {
    display: none;
    top: -50px;
  }
  1% {
    display: block;
  }
  100% {
    top: 0;
  }
}

@keyframes hint-anim-hide {
  0% {
    display: block;
    top: 0;
  }
  99% {
    top: -50px;
  }
  100% {
    display: none;
  }
}


.preview img{
  height: 123px;
  order: 1;
}

.naviwrapper {
margin: 12px 0px 0px 0px;
opacity: 0.6;
}









.loader {


  border: 16px solid #ff0000;
  border-radius: 50%;
  border-top: 16px solid green;
  border-bottom: 16px solid green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loaderwrap {
  position: absolute;
        top: 28%;
        left: 42%;
        margin-right: -50%;
}


.permalink {
    border: 16px solid #ff0000;
  border-radius: 50%;
  border-top: 16px solid green;
  border-bottom: 16px solid green;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}


.s60 {
color: rgb(230, 230, 230);
font-size: 34px;
padding: 12px;
text-shadow: 0px -2px 5px rgba(30, 30, 30, 0.8);
-webkit-border-radius: 34.054054054054056px;
-moz-border-radius: 34.054054054054056px;
border-radius: 34.054054054054056px;
background: rgb(0, 131, 0);
background: -moz-linear-gradient(150deg, rgb(0, 131, 0) 48%, rgb(0, 255, 20) 72%);
background: -webkit-linear-gradient(150deg, rgb(0, 131, 0) 48%, rgb(0, 255, 20) 72%);
background: -o-linear-gradient(150deg, rgb(0, 131, 0) 48%, rgb(0, 255, 20) 72%);
background: -ms-linear-gradient(150deg, rgb(0, 131, 0) 48%, rgb(0, 255, 20) 72%);
background: linear-gradient(60deg, rgb(0, 131, 0) 48%, rgb(0, 255, 20) 72%);
-webkit-box-shadow: 7px 5px 9px rgba(50, 50, 50, 0.72);
-moz-box-shadow:    7px 5px 9px rgba(50, 50, 50, 0.72);
box-shadow:         7px 5px 9px rgba(50, 50, 50, 0.72);
}


.myButton {
  -moz-box-shadow: 7px 6px 9px -2px #3dc21b;
  -webkit-box-shadow: 7px 6px 9px -2px #3dc21b;
  box-shadow: 7px 6px 9px -2px #3dc21b;
  background-color:#44c767;
  -moz-border-radius:29px;
  -webkit-border-radius:29px;
  border-radius:29px;
  border:5px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:28px;
  font-weight:bold;
  padding:12px 28px;
  text-decoration:none;
  text-shadow:-2px 4px 3px #2f6627;
}
.myButton:hover {
  background-color:#24e056;
}
.myButton:active {
  position:relative;
  top:1px;
}


.stopBtn {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
  background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
  background-color:#77b55a;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #4b8f29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
}
.stopBtn:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
  background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
  background-color:#72b352;
}
.stopBtn:active {
  position:relative;
  top:1px;
}


.start120btn {
  border-radius:29px;
  border:3px solid #cc2200;
  background: #cc223f;
  background-image: -webkit-linear-gradient(top, #cc223f, #c4b2b2);
  background-image: -moz-linear-gradient(top, #cc223f, #c4b2b2);
  background-image: -ms-linear-gradient(top, #cc223f, #c4b2b2);
  background-image: -o-linear-gradient(top, #cc223f, #c4b2b2);
  background-image: linear-gradient(to bottom, #cc223f, #c4b2b2);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.start120btn:hover {
  border-radius:29px;
  border:5px solid #cc2200;
  background: #f01111;
  background-image: -webkit-linear-gradient(top, #f01111, #ebd1d1);
  background-image: -moz-linear-gradient(top, #f01111, #ebd1d1);
  background-image: -ms-linear-gradient(top, #f01111, #ebd1d1);
  background-image: -o-linear-gradient(top, #f01111, #ebd1d1);
  background-image: linear-gradient(to bottom, #f01111, #ebd1d1);
  text-decoration: none;
}

/* Blur */
.hover07 img {
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover07:hover img {
  -webkit-filter: blur(0);
  filter: blur(0);
}

/* Gray Scale */
.hover08 img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover08:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}





.wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -86px;
  margin-left: -89px;
  text-align: center;
}

/*
BTN GEN
https://codepen.io/derekmorash/pen/XddZJY
https://codepen.io/deineko/pen/jrmmoQ
http://www.cssportal.com/css3-button-generator/
https://css-tricks.com/making-pure-css-playpause-button/

https://codepen.io/superpikar/pen/zJsgH
https://codepen.io/stevenfabre/pen/DvBei
http://freefrontend.com/css-buttons/
https://codepen.io/JonasBadalic/pen/MYaMBz
https://codepen.io/ajerez/pen/XmbQXQ
*/

.addmedia {
        position:absolute; top:9%;
        background: #2489fc;
        border-radius: 2em;
        border:2px solid #ffffff;
        box-shadow: 0 0 1px gray;
        cursor: pointer;
        margin-left:34%;
        padding: 1em;
        color: #fffffb;
        left: 50%;
        z-index: 202;
        opacity: 0.7;
}

.spacer
{
  height: 8px;
}
.ttheright {
  background-color: #3D6FB6;
  text-align: right;
  color: #fffffb;
  margin-top: -33px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: ultra-condensed;
  margin-right: 20px;
  background-color: 
  text-transform: lowercase;
}
@media (max-width: 479px) { /* @screen-xs-max: (@screen-sm-min - 1); */
  .ttheright {
    text-align: right;
  }
}

.space-20 {
    margin-top: 20px;
}



.wrapper-dropd3 {
    /* Size and position */
    position: relative;
    width: 200px;
    margin: 0 auto;
    padding: 10px;

    /* Styles */
    background: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    cursor: pointer;
    outline: none;
}

.wrapper-dropd3:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #000 transparent;
}

.wrapper-dropd3 .dropd {
  /* Size & position */
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
padding:0;
margin:0;
    /* Styles */
    background: white;
    border: 1px solid rgba(0,0,0,0.17);
    font-weight: normal;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -ms-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper-dropd3 .dropd:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 15px;
    border-width: 0 6px 6px 6px;
    border-style: solid;
    border-color: #fff transparent;    
}

.wrapper-dropd3 .dropd:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 13px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;    
}

.wrapper-dropd3 .dropd li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.wrapper-dropd3 .dropd li i {
    float: right;
    color: inherit;
}

.wrapper-dropd3 .dropn li:first-of-type a {
    border-radius: 7px 7px 0 0;
}

.wrapper-dropd3 .dropd li:last-of-type a {
    border: none;
    border-radius: 0 0 7px 7px;
}

/* Hover state */

.wrapper-dropd3 .dropd li:hover a {
    background: #f3f8f8;
}

/* Active state */

.wrapper-dropd3.active .dropd {
    opacity: 1;
    pointer-events: auto;
}

/* No CSS3 support */

.no-opacity       .wrapper-dropd3 .dropd,
.no-pointerevents .wrapper-dropd3 .dropd {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */
}

.no-opacity       .wrapper-dropd3.active .dropd,
.no-pointerevents .wrapper-dropd3.active .dropd {
    display: block;
}
/*#############################*/


.new_flow_2arch {
  text-align: right;
  cursor: crosshair;
}
.btm_flow {
  text-align: center;
  cursor: pointer;
}
input[type=checkbox] {
 width: 44px; height: 44px;
 -webkit-border-radius: 22px; -moz-border-radius: 22px; border-radius: 22px;
 border: 1px solid #bbb;
}

.flag_country {
 background-image: url("../img/flags/flag-rus.png");
}




/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 48px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
#flagimg,#avaimg {
    margin-left: 23%;
}



.dbl_abox { 
    margin: auto;
    color: #000;
    margin-bottom: 5px;
    opacity: 0.83;
    width: 88%;
    font-size: 10px;
    height: 36px;
    border-bottom: 3px solid #333333;
    background-color : #838a87;
    box-shadow : rgba(89,102,107,0.8) 9px 5px 10px 12px;
    -webkit-box-shadow: 5px 5px 18px 12px rgba(155,155,155,0.8); 
}

 .namez_dbl {
  opacity: 1;
  text-align: left;
  display:inline-flex;
  height: 34px;
  margin-top: 11px;
  text-indent: 2.7em;
  /* color: rgba(0,255,34,0.99) ; */
  color: rgba(255,255,255,0.99) ;
  text-shadow: 1px 1px 9px rgba(22,3,222,0.99) ;
  font-size: 15px;
  font-weight: bold;
  margin-left: -2%;
  margin-right: 0.1em;
  text-transform: uppercase;
}
.flagorava {
  text-align: left;
  display:inline-flex;
  height: 36px;
}
.ex_dbl_free{
text-align: right;
  float:right;
  width: 2%;
  display:inline-block;
  width: 34px;
  height: 25px;  
  color: rgba(255,255,255,0.99) ;
  text-shadow: 2px 2px 7px rgba(2,2,2,0.99);
  font-size: 16px;
  font-weight: bolder;
  margin-left: 1.9em;
  margin-right: 1.9em;
  text-align: center;
  vertical-align: middle;  
}
.p3_dbl, .p2_dbl, .p1_dbl, .j3_dbl, .j2_dbl, .j1_dbl, .dnumb_dbl{
  text-align: right;
  float:right;
  width: 2%;
  display:inline-block;
  width: 34px;
  height: 25px;  
  color: rgba(5,7,2,0.99);
  text-shadow: 0px 0px 7px rgba(245,245,220,0.99);
  font-size: 16px;
  font-weight: bold;
  margin-left: 1.9em;
  margin-right: 1.9em;
  border:1px solid #4e4e4e;
  text-align: center;
  vertical-align: middle;  
/*
    border:1px solid #4e4e4e;
    color: #fffffb;
      text-align: center;
      vertical-align: middle;
      width: 30px;
      height: 25px;  
      */
}

.js_dbl,.jp_dbl {
  text-align: right;
  float:right;
  width: 2%;
  display:inline-block;
  height: 34px;
  color: rgba(255,255,255,0.99) ;
  text-shadow: 0px 0px 7px rgba(1,1,255,0.99);
  font-size: 19px;
  font-weight: bolder;
  margin-left: 1.9em;
  margin-right: 1.9em;  
}
 .ps_dbl,.total_dbl{
  text-align: right;
  float:right;
  width: 2%;
  display:inline-block;
  height: 34px;
  color: rgba(255,255,255,0.99) ;
  text-shadow: 0px 0px 7px rgba(255,11,11,0.99);
  font-size: 20px;
  font-weight: bolder;
  margin-left: 1.9em;
  margin-right: 1.9em;
}
.js_rnk {
  float:right;
  width: 1%;
  display:inline-block;
  height: 34px;
  color: rgba(222,234,218,0.99) ;
  text-shadow: 0px 0px 7px rgba(34,23,23,0.99);
  font-size: 20px;
}
.js_rnk1 {
  float:right;
  width: 1%;
  display:inline-block;
  height: 34px;
  color: #FFD700 ; /* GOLD FFD700 GOLD L f7f6a8 */
  text-shadow: 4px 5px 7px rgba(55,55,55,0.99);
  font-size: 20px;
  font-weight: bolder;
}
.js_rnk2 {
  float:right;
  width: 1%;
  display:inline-block;
  height: 34px;
  color: #C0C0C0 ;  /* SILVER C0C0C0 SILVER L dce5e5 */
  text-shadow: 3px 4px 7px rgba(55,55,55,0.99);
  font-size: 20px;
  font-weight: bolder;
}
.js_rnk3 {
  float:right;
  width: 1%;
  display:inline-block;
  height: 34px;
  color: #CD7F32;  /* BRONZE CD7F32 BRONZE L ffdab9 */
  text-shadow: 2px 3px 7px rgba(55,55,55,0.99);
  font-size: 20px;
  font-weight: bolder;
}
.js_rnk4 {
  float:right;
  width: 1%;
  display:inline-block;
  height: 34px;
  color: rgba(144, 238, 144,0.99) ;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.99);
  font-size: 20px;
  font-weight: bolder;
}
.js_rnk5 {
  float:right;
  width: 1%;
  display:inline-block;
  height: 34px;
  color: rgba(0, 255, 127,.99) ;
  text-shadow: 0px 0px 7px rgba(0,0,0,0.99);
  font-size: 20px;
  font-weight: bolder;
}
.avaflag1 {
  /* position: absolute; */
  position: relative;
  margin-left: 4px;
  top: -8px;
  background-color: #ebebeb transparent;
  opacity: 0.9
}

.tblHeader_dbl {
  margin-left: 0.3em;
  margin-right: 0.3em;
  text-align: left;
  display:inline-block;
  font-size: 14px;
  text-transform: lowercase;
  /* color: rgba(255,255,86,0.99) ; */
  color: rgba(255,255,255,0.99) ;
  text-shadow: 0px 0px 7px rgba(11,11,11,0.99);

}
.offset_dbl{
  text-align: right;
  margin-left: 25.7em;
  margin-right: 1.2em;
}
.tblHeader_total, .tblHeader_cj, .tblHeader_s {
    background-color: #343537;
    border:1px solid #ffffff;
    font-weight: bolder;
    color: #fff;  
}
.tblHeader70 {
    background-color: #343537;
    border:1px solid #ffffff;
    font-weight: bolder;
    color: #fff;
    -webkit-column-width: 46px; /* Chrome, Safari, Opera */
    -moz-column-width: 46px; /* Firefox */
    column-width: 46px;
}
.tblHeader48 {
    background-color: #343537;
    border:1px solid #ffffff;
    font-weight: bolder;
    color: #fff;  
    -webkit-column-width: 48px; /* Chrome, Safari, Opera */
    -moz-column-width: 48px; /* Firefox */
    column-width: 48px;
}
.tblHeader88 {
    background-color: #343537;
    border:1px solid #ffffff;
    font-weight: bolder;
    color: #fff;  
    -webkit-column-width: 68px; /* Chrome, Safari, Opera */
    -moz-column-width: 68px; /* Firefox */
    column-width: 68px;
}
.tblHeader110 {
    background-color: #343537;
    border:1px solid #ffffff;
    font-weight: bolder;
    color: #fff;  
    -webkit-column-width: 110px; /* Chrome, Safari, Opera */
    -moz-column-width: 110px; /* Firefox */
    column-width: 110px;
}
.tblHeader120 {
    background-color: #343537;
    border:1px solid #ffffff;
    font-weight: bolder;
    color: #fff;  
    -webkit-column-width: 90px; /* Chrome, Safari, Opera */
    -moz-column-width: 90px; /* Firefox */
    column-width: 90px;
}
.tblHeader200 {
    background-color: #343537;
    border:1px solid #ffffff;
    font-weight: bolder;
    color: #fff;
    -webkit-column-width: 248px;
    -moz-column-width: 248px; 
    column-width: 248px; 

}
.tblHeader283 {
    background-color: #343537;
    border:1px solid #ffffff;
    font-weight: bolder;
    color: #fff;
    -webkit-column-width: 308px;
    -moz-column-width: 308px; 
    column-width: 308px; 

}
.tryisokdd {
    margin-top: 0.3%;
    /* background-color: #39ff14; */
    background-color: #ffffff;
    border:1px solid #ffffff;
    color: #000;
    text-shadow: 0px 0px 7px rgba(255,255,255,1);
      border-radius: 50%;
      text-align: center;
      vertical-align: middle;
      width: 34px;
      height: 25px; 
}
.tryisbaddd {
    margin-top: 0.3%;
    background-color: #e23131;
    border:1px solid #393939;
    color: #ffffff;
    text-shadow: 0px 0px 7px rgba(0,2,4,0.99);    
      text-align: center;
      vertical-align: middle;
      width: 34px;
      height: 25px;     
}

.dbl2focusw{
  background-color: #7EFF66;
  top: -10px;
  display:inline-block;
  width: 63px;
  height: 32px;  
  color: rgba(239,16,16,0.99);
  text-shadow: 0px 0px 13px rgba(245,245,220,0.99);
  font-size: 2.2em;
  font-weight: bolder;
  margin-left: 0.5em;
  margin-right: 0.9em;
  border:3px solid #fff;
  vertical-align: top;
   line-height:  27px;
  -webkit-animation: blink 700ms infinite alternate;
  -moz-animation: blink 700ms infinite alternate;
  -o-animation: blink 700ms infinite alternate;
  animation: blink 700ms infinite alternate;
  padding: 0.1rem;
}


.dblMainHeader_left {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    background-image: url("../img/scsv_logo2.png");
}
.dblMainHeader_left1 {
    display: block;
    text-align: left;
    white-space: nowrap; /* Запрещаем перенос строк */
    /* -webkit-box-shadow:0px 0px 15px 7px #1177db inset;
    -moz-box-shadow:0px 0px 15px 7px #1177db inset;
    box-shadow:0px 0px 15px 7px #1177db inset; */
    margin-top: 5px; 
    width: 100%;
    height: 66px;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */   
}

.dblMainHeader_cntr {
  display: inline-flex;
  text-align: left;
  text-indent: 2.7em;
  color: rgba(234,234,234,1);
  text-shadow: 2px 2px 5px rgba(123,234,231,0.99);
  font-size: 15px;
  margin-left: -178px;
  width: 70%;
  margin-bottom: -1%; 
}
.dblMainHeader_cntr1 {
  display: inline;
  text-align: center;
  color: rgba(255,255,255, 0.9);
  text-shadow: 2px -2px 3px rgba(55,208,112,0.77);
  font-size: 23px;
  width: 100%;
  font-size: 27px;
  white-space: nowrap; /* Запрещаем перенос строк */
  font-weight: bolder;
}
.dblMainHeader_cntr2 {
    display: inline;
    text-align: center;
    white-space: nowrap; /* Запрещаем перенос строк */
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 3px -2px 3px rgba(98, 13, 242, 1);
    margin-top: -5px; 
    width: 100%;
    font-size: 21px;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
}
.dblMainHeader {
    text-align: center;
    display: flex;
    margin-top: -5px; 
    width: 100%;
    height: 48px;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    margin-top: 1px; 
}
.resTotalsmaller {
    display: inline;
    text-align: center;
    white-space: nowrap; /* Запрещаем перенос строк */
    color: rgba(234, 234, 234, 0.88);
    text-shadow: 2px 3px 2px rgba(61, 111, 182, 1);
    margin-top: -5px; 
    width: 100%;
    font-size: 18px;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */  
}









#g_container {
  width: 88px;
  position: relative;
  top: 0px;
  left: -46%;
  margin: 0 auto;
  padding: 0px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 8px 2px #abc;
}

#con6tainer {
  width: 48px;
  height: 4px;
  background-color: #e5e5e5;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
  /*width: 200px;
  left: 33%;
  position: relative;
  background: #fff;
  margin: 0 auto;
  padding: 0px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 8px 2px #000; */
}
#main_nav {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 8px 2px #000;
}
#main_nav:target {
  display: block;
}
.access_aid {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 0;
  padding-top: 40px;
  overflow: hidden;
  border: 1px solid #ccc;
  background: white 10px 10px / 20px 20px no-repeat;
}
#access_nav {
  background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
  background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
}
#access_top {
  background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
}





.hamburger .line{
  width: 48px;
  height: 4px;
  background-color: #e5e5e5;
  display: block;
  margin: 4px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover{
  cursor: pointer;
}

#hamburgerMENU{
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburgerMENU.is-active{
  animation: smallbig 0.6s forwards;
}

@keyframes smallbig{
  0%, 100%{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }

  50%{
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }
}

#hamburgerMENU.is-active .line:nth-child(1),
#hamburgerMENU.is-active .line:nth-child(2),
#hamburgerMENU.is-active .line:nth-child(3){
  -webkit-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#hamburgerMENU.is-active .line:nth-child(2){
  opacity: 0;
}

#hamburgerMENU.is-active .line:nth-child(1){
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburgerMENU.is-active .line:nth-child(3){
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}
#hamburgerMENU:target {
  display: block;
}













#menuToggle
{
  display: block;
  position: relative;
  top: 23px;
  left: 23px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 108px;
  margin: -100px 0 0 -50px;

  padding-top: 99px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 20px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

.navTopper {
  height: 0px;
}

.rCup {
  position: relative;
  top: -98%;
  left: 18px;
  z-index: 22;
}