/*
#mainz {
        background:radial-gradient(black 15%, transparent 16%) 0 0,radial-gradient(black 35%, transparent 16%) 8px 8px,radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,radial-gradient(rgba(255,255,255,.1) 45%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px; z-index: 5;}
*/
#mainz {
    /*background-image: url("../img/e4eb054b.png");*/
    background-image: url("../img/bg/f5mBg.png");
    background-repeat: repeat;
  }
.judgeRCUdiv { 
  margin-top: 83px;
  /* background: rgba(90,91,104, 0.7); */
  background: rgba(190,191,204, 0.7);
  /* color: white; */
  border-radius: 3em;
  padding: 1em;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  z-index: 208;
  opacity: 1;
  transform: translate(-50%, -50%);
  width: 320px;

}
.jHRLine {
  margin-top: 0px;
  margin-bottom: 5px;
  height: 23px;
  background: url("../img/also/f5barbell.png");
  background-size: contain; 
  background-position: center;
  background-repeat: no-repeat;
  min-height: 23px;
}
section {
      margin-top: 33px;
        /* background: rgba(90,91,104, 0.7); */
        background: rgba(190,191,204, 0.7);
        /* color: white; */
        border-radius: 3em;
        padding: 1em;
        position: absolute;
        top: 33%;
        left: 50%;
        margin-right: -50%;
        z-index: 200;
        opacity: 1;
        transform: translate(-50%, -50%); 
}
.judasselbtn1 {
        padding: 2em;
        position: absolute;
        top: 103%;
        left: 50%;
        margin-right: -50%;
        z-index: 241;
        opacity: 0.6;
        transform: translate(-50%, -50%); 
}
.judasselbtn2 {
        padding: 2em;
        position: absolute;
        top: -13%;
        left: 50%;
        margin-right: -50%;
        z-index: 242;
        opacity: 0.55;
        transform: translate(-50%, -50%);
}
.judasselbtn3 {
        padding: 2em;
        position: absolute;
        /* top: 103%; */
        top: 147%;
        left: 50%;
        margin-right: -50%;
        z-index: 243;
        opacity: 0.6;
        transform: translate(-50%, -50%);
}
.container
{
        opacity: 0.9;
        width: 100% !important;
        z-index: 100;
        /* background-color: #fff; */
}
.container0weight {
        top: 9%;
        margin-top: 2%;
        background: rgba(20,30,40, 0.9);
        color: #fff;
        text-shadow: 1px 1px 1px #ff0123;
        border-radius: 3em;
        padding: 0.5em;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        z-index: 202;
        opacity: 0.7;
        font-size: 23px;
        font-weight: bolder;
        transform: translate(-50%, -50%);
}
.att2j {
        background: rgba(210,210,210, 0.7);
        color: #000999;
        text-shadow: 1px 2px 3px #fff;  
        margin: 0.3em;
        padding: 0.2em;
        font-weight: bolder;
        border-radius: 3em;
}
.attnum2j {
        background: rgba(155,155,155, 0.7);
        color: #1177db;
        font-weight: bolder;
        text-shadow: 1px 2px 3px #fff;  
        margin: 0.2em;
        padding: 0.2em;
        border-radius: 3em;
        text-transform: lowercase;
}
.container1attName {
        background: rgba(210,210,210, 0.7);
        color: #008B00;
        text-shadow: 1px 1px 1px #000;
        border-radius: 3em;
        padding: 0.4em;
        left: 50%;
        z-index: 203;
        opacity: 0.8;
        font-size: 18px;
        font-weight: bolder;
        text-transform: uppercase;
}
.container2tryNum {
        top: 12%;
        background: rgba(210,210,210, 0.3);
        color: #fff;
        text-shadow: 1px 2px 3px #000;
        border-radius: 3em;
        padding: 0.3em;
        left: 50%;
        z-index: 203;
        opacity: 0.7;
        font-size: 26px;
        font-weight: bolder;
}
.container3attpNum {
        background: rgba(20,30,40, 0.9);
        color: #008B00;
        text-shadow: 1px 1px 1px #ff0123;
        border-radius: 3em;
        padding: 0.5em;
        left: 50%;
        z-index: 203;
        opacity: 0.7;
        font-size: 22px;
        font-weight: bolder; 
}
.containerbg
{
        opacity: 1;
        width: 100%;
        background: #090909;
        z-index: 102;
}
.left-div
{
  display: inline-block;
  height: 180px;
  width: 99px;
  background-color: #fff;
  border-radius: 3px;
  vertical-align: top;
  margin: 15px;
  color:#000;
  opacity:1; 
  text-decoration:none;
  border-top: 5px solid #ff0000;

}
.left-div:hover {
	    border-radius: 13%;
		border:3px solid #00ff00;
	    box-shadow: 0 0 2px gray;
	    cursor: pointer;
}
.right-div
{
  display: inline-block;
  height: 180px;
  width: 99px;
  background-color: #ff0000;
  border-radius: 3px;
  margin: 15px;
  color:#000;
  opacity: 1;
  border-top: 5px solid #ffffff;
}
.right-div:hover {
	    border-radius: 13%;
		border:3px solid #00ff00;
	    box-shadow: 0 0 1px gray;
	    cursor: pointer;
}

.blink{
    -webkit-animation: blink 555ms infinite alternate;
    -moz-animation: blink 555ms infinite alternate;
    -o-animation: blink 555ms infinite alternate;
    animation: blink 555ms infinite alternate;
}
#jname {
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
  color: #fff;
  white-space: nowrap; /* Запрещаем перенос строк */
  font-size: 28px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: left;
  width: 200px;

    
}
#jname2 {
font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    color: #06B600;
    white-space: nowrap; /* Запрещаем перенос строк */
    font-size: 18px;
    
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/rBHvpRWBkgyW99dXT88n7wsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/NX1NravqaXESu9fFv7KuqgsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/SKK6Nusyv8QPNMtI4j9J2wsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/gFXtEMCp1m_YzxsBpKl68gsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(fonts/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



@-webkit-keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
}
@-o-keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
}
@-moz-keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
}
@keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
};
#outspace {
  visibility: hidden;
  display:none;
  margin: 150px;
  position:absolute; top:40px; left:470px;
}

/*Use a media query to add a break point at 800px:*/
@media screen and (max-width: 480px) {
   html {
      -webkit-text-size-adjust: none;
   }
   #main-nav a {
      font-size: 90%;
      padding: 10px 8px;
   }
img {
   max-width: 100%;
   height: auto;
   width: auto\9; /* ie8 */
}
.video embed,
.video object,
.video iframe {
   width: 100%;
   height: auto;
}   
}

@media all and (orientation: landscape) {
  /* Target device in landscape mode */
}

@media all and (orientation: portrait) {
  /* Target device in portrait mode */
}

/* gdfgdfg df.  */
@media screen and (max-width: 650px) {
   #header {
      height: auto;
   }
   #searchform {
      position: absolute;
      top: 5px;
      right: 0;
   }
   #main-nav {
      position: static;
   }
   #site-logo {
      margin: 15px 100px 5px 0;
      position: static;
   }
   #site-description {
      margin: 0 0 15px;
      position: static;
   }
   #content {
      width: auto;
      float: none;
      margin: 20px 0;
   }
   #sidebar {
      width: 100%;
      float: none;
      margin: 0;
   }
}
@media screen and (max-width: 980px) {
   #pagewrap {
      width: 95%;
   }
   #content {
      width: 60%;
      padding: 3% 4%;
   }
   #sidebar {
      width: 30%;
   }
   #sidebar .widget {
      padding: 8% 7%;
      margin-bottom: 10px;
   }
}


@media (max-width:800px) {
  .left, .main, .right {
    width:100%;/*The width is 100%, when the viewport is 800px or smaller*/
  }
}

    #cssmenu {
      z-index: 300;
      animation: colorchange 555ms; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
      -webkit-animation: colorchange 555ms; /* Chrome and Safari */
    }

    @keyframes colorchange
    {
      0%   {background: red;}
      /* 25%  {background: gray;}*/
      50%  {background: white;}
      100% {background: green;}    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {background: red;}
      /*25%  {background: gray;}*/
      50%  {background: white;}
      100% {background: green;}
    }


#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  z-index: 300;
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
          opacity: 1;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  font-family: Montserrat, sans-serif;
  /* background: #5a5b68; */
  background: rgba(90,91,104, 0.7)
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 17px;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 700;
  text-transform: uppercase;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
  border-top: 7px double rgba(255,255,255,0.7);
  border-bottom: 0px;
}
#cssmenuactive {
  color: #ffffff;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 30px;
}
#cssmenu > ul > li.has-sub > a:after {
  position: absolute;
  top: 22px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu > ul > li.has-sub > a:before {
  position: absolute;
  top: 19px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
  top: 23px;
  height: 0;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu li:hover > ul > li {
  height: 35px;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li a {
  z-index: 2;
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  padding: 11px 15px;
  width: 170px;
  font-size: 12px;
  text-decoration: none;
  color: #dddddd;
  font-weight: 400;
  background: #bebebe;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last-item > a {
  border-bottom: 0;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #ffffff;
}
#cssmenu ul ul li.has-sub > a:after {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 8px;
  height: 2px;
  display: block;
  background: #dddddd;
  content: '';
}
#cssmenu.align-right ul ul li.has-sub > a:after {
  right: auto;
  left: 11px;
}
#cssmenu ul ul li.has-sub > a:before {
  position: absolute;
  top: 13px;
  right: 14px;
  display: block;
  width: 2px;
  height: 8px;
  background: #dddddd;
  content: '';
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}
#cssmenu.align-right ul ul li.has-sub > a:before {
  right: auto;
  left: 14px;
}
#cssmenu ul ul > li.has-sub:hover > a:before {
  top: 17px;
  height: 0;
}
@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid rgba(120, 120, 120, 0.2);
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #dddddd;
    background: #ebebeb;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #ffffff;    
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu.align-right ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
    padding: 17px;
    color: #dddddd;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
  }
  #cssmenu #menu-button:after {
    position: absolute;
    top: 22px;
    right: 17px;
    display: block;
    height: 4px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: '';
  }
  #cssmenu #menu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    height: 2px;
    width: 20px;
    background: #dddddd;
    content: '';
  }
  #cssmenu #menu-button.menu-opened:after {
    top: 23px;
    border: 0;
    height: 2px;
    width: 15px;
    background: #ffffff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #cssmenu #menu-button.menu-opened:before {
    top: 23px;
    background: #ffffff;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    border-left: 1px solid rgba(120, 120, 120, 0.2);
    height: 46px;
    width: 46px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    background: #bcbcbc;
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
    position: absolute;
    top: 22px;
    right: 19px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #ffffff;
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 19px;
    right: 22px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
  }
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    display: none;
  }
}

.jselectbtn {
   border: 2px solid #fcfcfc;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#3e779d));
   background: -webkit-linear-gradient(top, #ffffff, #3e779d);
   background: -moz-linear-gradient(top, #ffffff, #3e779d);
   background: -ms-linear-gradient(top, #ffffff, #3e779d);
   background: -o-linear-gradient(top, #ffffff, #3e779d);
   background-image: -ms-linear-gradient(top, #ffffff 0%, #3e779d 100%);
   padding: 12.5px 25px;
   -webkit-border-radius: 9px;
   -moz-border-radius: 9px;
   border-radius: 9px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #06426c;
   font-size: 24px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.jselectbtn:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.jselectbtn:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }
.containerc {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}

.buttonjvote {
    display: inline-block;
    padding: 1em;
    cursor: crosshair;
    background-color: #b4b4b4;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border: 1px dotted #582A72;
    border-collapse: collapse;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.buttonjvotey {
    display: inline-block;
    padding: 1em;
    cursor: crosshair;
    background-color: #b4b4b4;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border: 1px dotted #582A72;
    border-collapse: collapse;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.buttonjvoten {
    display: inline-block;
    padding: 1em;
    cursor: crosshair;
    background-color: #b4b4b4;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    border: 1px dotted #582A72;
    border-collapse: collapse;
    text-decoration: none;
    color: white;
    display: inline-block;
    vertical-align: middle;
}








@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeIn {
    -webkit-animation: fadeIn;
    animation: fadeIn;
    opacity: 1;
}

.fadeOut {
    -webkit-animation: fadeOut;
    animation: fadeOut;
    opacity: 0;
}

.fast {
    -webkit-animation-duration: 1s;
    animation-duration: 1s
}

.jf5logo {
    opacity: 0.7;
    background: rgba(190,191,204, 0.5);
    content:url('../img/iwf-logo.png');
    width:223px; /*width of your image*/
    height:129px; /*height of your image*/
    margin-left: 48px; /* If you want no margin */
    margin-right: 48px; /* If you want no margin */
    padding:0px; /*if your want to padding */
  /* background-image: url("../img/judas1bg.png"); */
  }

.dbl_imgmbtn {
    font-weight: bold;
    font-size: 2.3em;
    margin-top: -27px;
    margin-bottom: 3%;
    display: inline-block;
    padding: 0.3em;
    text-decoration: none;
    cursor: pointer;
    height: 33px;
    width: 100%;  
    color: #689F38;
}
.dbl_imgmbtn:hover {
    transform:scale(1.1,1.1);
    display: inline-block;
    padding: 0.3em;
    text-decoration: none;
    cursor: pointer;
    height: 33px;
    width: 100%;
}
.signal_imgmbtn {
    font-weight: bold;
    font-size: 2.3em;
    margin-top: -27px;
    margin-bottom: 3%;  
    text-align: center;
    display: inline-block;
    padding: 0.3em;
    text-decoration: none;
    cursor: pointer;
    height: 33px;
    width: 100%;
    color: #E64A19;    
}
.signal_imgmbtn:hover {
    transform:scale(1.1,1.1);
    display: inline-block;
    padding: 0.3em;
    text-decoration: none;
    cursor: pointer;
    height: 33px;
    width: 100%;
}
.judas_imgmbtn {
    font-weight: bold;
    font-size: 2.3em;
    margin-top: -27px;
    margin-bottom: 3%;  
    text-align: center;
    display: inline-block;
    padding: 0.3em;
    text-decoration: none;
    cursor: pointer;
    height: 33px;
    width: 100%;
    color: #FDD835;
}
.judas_imgmbtn:hover {
    transform:scale(1.1,1.1);  
    display: inline-block;
    padding: 0.3em;
    text-decoration: none;
    cursor: pointer;
    height: 33px;
    width: 100%;
}

.wjumbotron {
  opacity: 0.8;
  background-color: #f5f5f5;
}
.wjumbotron:hover {
  background-color: #f5f5f5;
}
.ttheright {
  background-color: #3D6FB6;
  text-align: right;
  color: #fffffb;
  margin-top: -33px;
  font-size: 18px;
  font-weight: bold;
  font-stretch: ultra-condensed;
  margin-right: 20px;
  text-transform: lowercase;
}
@media (max-width: 479px) { /* @screen-xs-max: (@screen-sm-min - 1); */
  .ttheright {
    text-align: right;
  }
}



.btn3d {
    position:relative;
    top: -6px;
    border:0;
     transition: all 40ms linear;
     margin-top:10px;
     margin-bottom:10px;
     margin-left:2px;
     margin-right:2px;
     width: 100%;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    -moz-outline-style:none;
         outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-white {
/**** 888 ***/

    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #f5f5f5, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#fff;
}
.btn3d.btn-white:active, .btn3d.btn-white.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#fff;
}
.btn3d.btn-default {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 2px rgba(255,255,255,0.10) inset, 0 8px 0 0 #BEBEBE, 0 8px 8px 1px rgba(0,0,0,.2);
    background-color:#f9f9f9;
}
.btn3d.btn-default:active, .btn3d.btn-default.active {
    color: #666666;
    box-shadow:0 0 0 1px #ebebeb inset, 0 0 0 1px rgba(255,255,255,0.15) inset, 0 1px 3px 1px rgba(0,0,0,.1);
    background-color:#f9f9f9;
}

.mnuactive {
  border-bottom: 7px double #fff !important;
}