/* vietnamese */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee'), local('Bungee-Regular'), url(fonts/SWDSh9ix7dLtnHSP6lQSBX-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee'), local('Bungee-Regular'), url(fonts/lERTo0a3qKpZDl3SvRxB0H-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bungee';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee'), local('Bungee-Regular'), url(fonts/kJ_ur5UPA1FPpr5xGCMYqevvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Inline'), local('BungeeInline-Regular'), url(fonts/Tb-1914q4rFpjT-F66PLCRqpYFejg1eVyKUGUq_Gshg.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Inline'), local('BungeeInline-Regular'), url(fonts/Tb-1914q4rFpjT-F66PLCdiatsHTxQkGvnPUXHFXIVY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  src: local('Bungee Inline'), local('BungeeInline-Regular'), url(fonts/Tb-1914q4rFpjT-F66PLCQYWpCd0FFfjqwFBDnEN0bM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* vietnamese */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(fonts/RFOoS45uNsVXdVBw1EQM-_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(fonts/9wFlChL5fcxZXLgKmuMdp_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 400;
  src: local('Exo Regular'), local('Exo-Regular'), url(fonts/7V_Hf8uqhTnCHU5pdwV73A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Kavoon';
  font-style: normal;
  font-weight: 400;
  src: local('Kavoon'), local('Kavoon-Regular'), url(fonts/fPes5dZvXmy2UCr4qtMMzH-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Kavoon';
  font-style: normal;
  font-weight: 400;
  src: local('Kavoon'), local('Kavoon-Regular'), url(fonts/htXezQv9c2hflGGC04d1g-vvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}





body{
	background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
overflow:hidden; 
margin:0;
padding:0 0 0 0;
/* color:#000; */
/* background:#efefef url(../img/120524-0005.png); */
text-shadow: 0 0 1px transparent; /* google font pixelation fix */
 min-height: 666px;
 height: 1px;
}
.jxyes {
	opacity: 0.9;
	background: #ffffff;
-webkit-box-shadow: 10px 20px 19px 12px #aaa;
box-shadow: 10px 10px 19px 12px #aaa;
filter: alpha(opacity=99); /* For IE8 and earlier */
}
.jxno {
	opacity: 0.9;
	background: #ff0000;
-webkit-box-shadow: 10px 20px 19px 12px #aaa;
box-shadow: 10px 10px 19px 12px #aaa;
filter: alpha(opacity=99); /* For IE8 and earlier */
}
.jxdefa {
	opacity: 0.2;
-webkit-box-shadow: 10px 20px 19px 12px #0f220f;
box-shadow: 10px 10px 19px 12px #ececec;
filter: alpha(opacity=60); /* For IE8 and earlier */
}
.pikcha_shtanga {
		padding-left: 40%;
}
.mrnglft2 {
	opacity: 0.5;
-webkit-box-shadow: 1px 1px 19px 12px #FFFFFF;
box-shadow: 1px 1px 19px 12px #FFFFFF;
filter: alpha(opacity=60); /* For IE8 and earlier */
}
.zi5 {
	position: absolute;
	z-index: 5;
	margin-left: -3%;
}
.zi1 {
	position: absolute;
	z-index: 1;
}
.name2 {
	text-transform: uppercase;	
	z-index: 6;
	margin-top: -20px;
	color: #008B00;
	font-family: 'Exo 2', sans-serif;
	font-size: 102px;
	text-shadow: 5px 4px 7px #fffffb;
	font-weight: bolder;
	white-space: nowrap; /* Запрещаем перенос строк */
	text-align: center;
}
.name1 {
	text-transform: uppercase;
	z-index: 22;
	margin-top: -5px;
	padding-left: 188px;
	color: #008B00; /* #32CD32; */
	font-family: 'Exo 2', sans-serif;
	font-size: 103px;
	text-shadow: 5px 4px 7px #fffffb;
	white-space: nowrap; /* Запрещаем перенос строк */
	font-weight: bolder;
	text-align: center;

}		
.weight {
	z-index: 7;
	margin-top: -101px;
	padding-left:  140px;
	color: #CC0000; /* #FF3D09;  #81FF00; */
	font-family: 'Bungee';
	font-size: 180px;
	text-shadow: 14px 8px 14px #fffffb;
}
.rank {
	z-index: 17;
	margin-top: -35px;
	color: #640793; /* #8428B3;  #B23AEE; */
	font-stretch: ultra-expanded;
	font-weight: bolder;
	font-family: 'Jura', sans-serif;
	font-size: 77px;
	text-shadow: 2px 2px 2px #aaa;

}
.trynumber {
	/* #34c924; B23AEE; */

	z-index: 13;
	margin-top: -18px;
	padding-left: 0px;
	color: #440465; /* #CC0000; #B23AEE; */
	font-family: 'Bungee Inline', sans-serif;
	font-size: 108px;
	text-shadow: 3px 3px 3px #fffffb;

}
.pikcha {
	z-index: 19;
	margin-top: 68px;
	margin-left: 120%;
	height: 307px;
	width: 40%;
	color: #7FFF00;
	/* border: 2px solid red;
    border-radius: 5px; */
  	/* background: url(../img/green-10-b_3001119-10.jpg) no-repeat; /* Путь к фоновому изображению */ */
}
.timer {
	z-index: 9;
	padding-left: 1px;
	color: #8428B3; /* #FF3E3E;  #06B653;  #32CD32; */
	font-family: 'Kavoon';
	font-size: 177px;
	text-shadow: 5px 5px 5px #fffffb;
	font-stretch: ultra-expanded;
	font-weight: bolder;
     /* border:1px #666666 dotted; */
    line-height:50px;
    text-align:center;
    margin:0px;
}
.no1box {
	opacity: 0.5;
-webkit-box-shadow: 1px 1px 19px 12px #FFFFFF;
box-shadow: 1px 1px 19px 12px #FFFFFF;
filter: alpha(opacity=60); /* For IE8 and earlier */
}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:8px;}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}
@media (min-width:601px){.w3-col.m1{width:8.33333%}.w3-col.m2{width:16.66666%}.w3-col.m3,.w3-quarter{width:24.99999%}.w3-col.m4,.w3-third{width:31%}
.w3-third {
	padding-left: 100px;
	padding-top: 100px;
	margin-right: 32px;
	height: 470px;
}
.w3-row-padding,.w3-row-padding>.w3-half,.w3-row-padding>.w3-third,.w3-row-padding>.w3-twothird,.w3-row-padding>.w3-threequarter,.w3-row-padding>.w3-quarter,.w3-row-padding>.w3-col{padding:8px}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3r_container {
	-webkit-flex-direction: row; /* Safari */
 	flex-direction: row;
 	display: flex;
 	flex-wrap: nowrap;
 	padding-top: 2%;
}
.w3-row-padding  {
	padding-left: 22px;
	padding-top: 22px;
}
.w3-container,.w3-panel{padding:0.01em 35px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-green,.w3-hover-green:hover{color:#fff!important;opacity: 0.5;background-color:#4CAF50!important;display: none }
.w3-containerz,.w3-panelz{padding:0.01em 58%}.w3-panel{margin-top:160px;margin-bottom:16px}
.w3-greenz,.w3-hover-greenz:hover{border: 2px solid red; border-radius: 5px; color:#fff!important;background-color:transparent!important}

.w3-containery,.w3-panely{padding:0.01em 50%}.w3-panel{margin-top:60px;margin-bottom:16px}
.w3-greeny,.w3-hover-greeny:hover{border: 2px solid red; border-radius: 5px; color:#fff!important;background-color:transparent!important}

.w3-containerz,.w3-panelz{padding:0.01em 14%}.w3-panel{margin-top:60px;margin-bottom:16px}
.w3-greenz,.w3-hover-greenz:hover{border: 2px solid red; border-radius: 5px; color:#fff!important;background-color:transparent!important}

.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
	
	/*
  background: #34c924;
  background: #B23AEE;
  color:#32CD32;
  #008B00
  #b9b9b9
	*/



.avatar {
	position: absolute;
	height: 222px;
	width: 222px;
    float: left;
    margin-top: 22%;
    margin-right: 1em;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 3px #B23AEE, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 0 3px #B23AEE, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    box-shadow: 0 0 0 3px #B23AEE, 0 0 0 4px #999, 0 2px 5px 4px rgba(0,0,0,.2);
    z-index: -33;
}


.ifyesbox {
  position: absolute;
  padding: 1em;
  top: 20%;
  left: 18%;
  opacity: 0.3;
  z-index: 421;
  height: 480px;
  width: 800px;
  margin: 0 auto;
  background-color: #fffffb;
  animation-name: stretch;
  animation-duration: 1.1s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.7);
    background-color: #fffffb;
    border-radius: 100%;
  }
  50% {
    background-color: #fffffb;
    opacity: 0.7;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.8;
    background-color: #fffffb;
  }
}

.ifnobox {
  position: absolute;
  padding: 1em;
  top: 20%;
  left: 18%;
  opacity: 0.3;
  z-index: 421;
  height: 480px;
  width: 800px;
  margin: 0 auto;
  background-color: #ff0000;
  animation-name: stretchn;
  animation-duration: 1.1s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretchn {
  0% {
    transform: scale(.7);
    background-color: #ff0000;
    border-radius: 100%;
  }
  50% {
    background-color: #ff0000;
    opacity: 0.7;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.8;
    background-color: #ff0000;
  }
}


.blinkNow {
  animation: blinker 500ms linear infinite;
}
@keyframes blinker {  
  50% { opacity: 0; }
}




.if30secbox {
  position: absolute;
  padding: 1em;
  top: 20%;
  left: 18%;
  opacity: 0.3;
  z-index: 421;
  height: 480px;
  width: 800px;
  margin: 0 auto;
  background-color: #fffffb;
  animation-name: stretch;
  animation-duration: 1.1s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.7);
    background-color: #fffffb;
    border-radius: 100%;
  }
  50% {
    background-color: #fffffb;
    opacity: 0.7;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.8;
    background-color: #fffffb;
  }
}

.i10secbox {
  position: absolute;
  padding: 1em;
  top: 20%;
  left: 18%;
  opacity: 0.3;
  z-index: 421;
  height: 480px;
  width: 800px;
  margin: 0 auto;
  background-color: #fffffb;
  animation-name: stretch;
  animation-duration: 1.1s; 
  animation-timing-function: ease-out; 
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: none;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    transform: scale(.7);
    background-color: #fffffb;
    border-radius: 100%;
  }
  50% {
    background-color: #fffffb;
    opacity: 0.7;
  }
  100% {
    transform: scale(1.5);
    opacity: 0.8;
    background-color: #fffffb;
  }
}





#arrowAnim {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 456;
}

.arrow {
  width: 10vw;
  height: 10vw;
  border: 3.5vw solid;
  border-color: green transparent transparent green;
  transform: rotate(-135deg);
}


.arrowSliding {
  position: absolute;
  -webkit-animation: slide 4s linear infinite; 
          animation: slide 4s linear infinite;
}

.delay1 {
  -webkit-animation-delay: 1s; 
    animation-delay: 1s;
}
.delay2 {
  -webkit-animation-delay: 2s; 
    animation-delay: 2s;
}
.delay3 {
  -webkit-animation-delay: 3s; 
    animation-delay: 3s;
}

@-webkit-keyframes slide {
    0% { opacity:0; transform: translateY(-15vw); } 
   20% { opacity:1; transform: translateY(-9vw); }  
   80% { opacity:1; transform: translateY(9vw); } 
  100% { opacity:0; transform: translateY(15vw); }  
}
@keyframes slide {
    0% { opacity:0; transform: translateY(-15vw); } 
   20% { opacity:1; transform: translateY(-9vw); }  
   80% { opacity:1; transform: translateY(9vw); } 
  100% { opacity:0; transform: translateY(15vw); }  
}