/*
 *
 * Tiny HTML5 Music player by Themistokle Benetatos
 * based on http://msdn.microsoft.com/en-us/library/ie/gg589528(v=vs.85).aspx
 *
 */
 
#all_tracks {
	display:block;
	width:100%;
}
.audioplayer {
	width:100%;
	margin-bottom: 50px;
}
.audiocontrollers {
	display:table;
	margin-bottom:4px;
}
.audiobtnplay {
	display:table-cell;
	vertical-align:middle;
}
.audiobtnplaybgrd {
	display:block;
	width:38px;
	height:38px;
	text-align:center;

	background-color:#e67e22;
	color:#fff;
	cursor:pointer;
}
.audiobtnplaybgrd:hover {
	background-color:#e6af22;
}
.audiobtnimg {
	width:15px;
	height:15px;
	margin-top:12px;
}
.audiodetails {
	display:table-cell;
	vertical-align:middle;
	width: auto;
	padding-left:10px;
	border:0;
	overflow:hidden;
}
.audiotitle {
}
.audioyear {
	font-size:0.75em;
}
.audiodisplay {
	display:block;
	width:100%;
	height:50px;
}
.noaudiowaveform {
	position:relative;
	top:3px;
	width:100%;
	height:50px;
	background-color: #edefef;
	
	border:1px solid #ddd;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.audiowaveform {
	position:relative;
	top:7px;
	width:100%;
	height:50px;
	background-color: #edefef;
	
	border:1px solid #ddd;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.audioSeek {
	position:relative;
	top:-48px;
	width:100%;
	height:50px;
	cursor:pointer;
}
#audiohelp{
	display:table;
	margin-bottom:50px;
	border-collapse:separate;
	border-spacing:5px;
	font-size:0.9em;
}
#audiohelptitle{
	display:table-row;
}
#audiohelpcommands{
	display:inline-flex;
}
.audiohelptitle{
	display:table-row;
}
.audiohelpshortcuts{
	display:table-row;
}
.audiohelpkey{
	display:table-cell;
	text-align:center;
	background-color:#ededed;
	color:#333;
	padding:5px;
	
	border:1px solid #ddd;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.audiohelpdescription{
	display:table-cell;
	padding-left:5px;
}